@{
    ViewBag.Title = "Contact";
}
<h1 style="color: #18bc9c">Contact us</h1>

<address style="font-size:18px">
    Qassim - Buraydah <br />
    King Fahad Road <br />
    <abbr title="Phone">P:</abbr>
    +966565413424
</address>

<address style="font-size:18px">
    <strong>Support:</strong>   <a href="mailto:GhadirAljafen@gmail.com">GhadirAljafen@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>