@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to <i style="color:#18bc9c">HR</i> System</h1>
    <p class="lead">In the HR managment system you can manage your employees vacation requests easly, as will as your employees will be able to manage thier vacation requests</p>
</div>

<div class="row">
    @*<div class="col-md-4">
        <a class="btn btn-default btn-lg btn-block" onclick="window.open('@Url.Action("Index","User")')"> Login</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default btn-lg btn-block" onclick="window.open('@Url.Action("Contact","Home")')"> Contact us</a>
    </div>*@

</div>